# SNOTEL Metadata Extremes

Quick look at highest/lowest stations out there!

In [2]:
import logging

from snotel_lib import SnotelClient
from snotel_lib.utils import get_min_and_max_rows

logging.basicConfig(level=logging.DEBUG, force=True)


client = SnotelClient()
metadata = client.get_stations_metadata(force_update=True)
metadata.head()

INFO:snotel_lib.client:Fetching metadata from internet: https://raw.githubusercontent.com/egagli/snotel_ccss_stations/main/all_stations.geojson
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /egagli/snotel_ccss_stations/main/all_stations.geojson HTTP/1.1" 200 68095
INFO:snotel_lib.client:Metadata retrieval took 0.39s (cache miss)

,name,network,elevation_m,latitude,longitude,state,huc,mgrs,mountain_range,begin_date,end_date,csv_data,geometry
code,,,,,,,,,,,,,
301_CA_SNTL,Adin Mtn,SNOTEL,1886.712036,41.235828,-120.791924,California,180200021403,10TFL,Great Basin Ranges,1983-10-01,2026-02-24,True,POINT (-120.79192 41.23583)
907_UT_SNTL,Agua Canyon,SNOTEL,2712.719971,37.522171,-112.271179,Utah,160300020301,12SUG,Colorado Plateau,1994-10-01,2026-02-24,True,POINT (-112.27118 37.52217)
916_MT_SNTL,Albro Lake,SNOTEL,2529.840088,45.597229,-111.959023,Montana,100200050701,12TVR,Central Montana Rocky Mountains,1996-09-01,2026-02-24,True,POINT (-111.95902 45.59723)
1267_AK_SNTL,Alexander Lake,SNOTEL,48.768002,61.749668,-150.889664,Alaska,190205051106,05VPJ,NaN,2014-08-28,2026-02-24,True,POINT (-150.88966 61.74967)
908_WA_SNTL,Alpine Meadows,SNOTEL,1066.800049,47.779572,-121.698471,Washington,171100100501,10TET,Cascade Range,1994-09-01,2026-02-24,True,POINT (-121.69847 47.77957)

In [3]:
# Highest and lowest elevation SNOTELs
get_min_and_max_rows(metadata, "elevation_m")

,name,network,elevation_m,latitude,longitude,state,huc,mgrs,mountain_range,begin_date,end_date,csv_data,geometry
code,,,,,,,,,,,,,
1058_CO_SNTL,Grayback,SNOTEL,3541.775879,37.470329,-106.537827,Colorado,130100020101,13SCB,Southern Rocky Mountains,2004-09-01,2026-02-24,True,POINT (-106.53783 37.47033)
1267_AK_SNTL,Alexander Lake,SNOTEL,48.768002,61.749668,-150.889664,Alaska,190205051106,05VPJ,NaN,2014-08-28,2026-02-24,True,POINT (-150.88966 61.74967)

In [4]:
# Furthest North and South SNOTELs
get_min_and_max_rows(metadata, "latitude")

,name,network,elevation_m,latitude,longitude,state,huc,mgrs,mountain_range,begin_date,end_date,csv_data,geometry
code,,,,,,,,,,,,,
1175_AK_SNTL,Kelly Station,SNOTEL,94.487999,67.933327,-162.283325,Alaska,190504030802,03WXR,NaN,1991-10-01,2026-02-24,True,POINT (-162.28333 67.93333)
755_NM_SNTL,Signal Peak,SNOTEL,2548.127930,32.924011,-108.145378,New Mexico,150400010803,12SYB,Southwest Basins and Ranges,1978-10-01,2026-02-24,True,POINT (-108.14538 32.92401)

In [5]:
# Furthest West and East SNOTELs
get_min_and_max_rows(metadata, "longitude")

,name,network,elevation_m,latitude,longitude,state,huc,mgrs,mountain_range,begin_date,end_date,csv_data,geometry
code,,,,,,,,,,,,,
920_SD_SNTL,North Rapid Creek,SNOTEL,1868.423950,44.206169,-103.787582,South Dakota,101201100101,13TEJ,NaN,1996-08-09,2026-02-24,True,POINT (-103.78758 44.20617)
1175_AK_SNTL,Kelly Station,SNOTEL,94.487999,67.933327,-162.283325,Alaska,190504030802,03WXR,NaN,1991-10-01,2026-02-24,True,POINT (-162.28333 67.93333)

In [7]:
# Oldest/Newest Stations
get_min_and_max_rows(metadata, "begin_date")

TypeError: '>' not supported between instances of 'float' and 'datetime.date'